:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 14%);

  
}



ul {
  display: flex;
  gap: 10px;
}

li {
  list-style: none;
  padding: 20px;
  background-color: #646cff;
  border-radius: 15px;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: yellow;
}





