
.Padre {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hijo {

  background-color: grey;
  border-radius: 15px;
  padding: 0px 10px;
}
